 Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
the list.

In [2]:
def sum_even_numbers(numbers):
    """Returns the sum of all even numbers in the given list."""
    return sum(num for num in numbers if num % 2 == 0)

    numbers = [1, 2, 3, 4, 5, 6]
print(sum_even_numbers(numbers))

12

Create a Python function that accepts a string and returns the reverse of that string.

In [10]:
def reverse_string(s):
    """Returns the reverse of the given string."""
    return s[::-1]

text = "Python"
print(reverse_string(text))

nohtyP

Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number.

In [15]:
def square_numbers(numbers):
    """Returns a list containing the squares of each number in the given list."""
    return [num ** 2 for num in numbers]
    numbers = [1, 2, 3, 4, 5, 6]
print(square_numbers(numbers))

[1, 4, 9, 16, 25, 36]

Write a Python function that checks if a given number is prime or not from 1 to 200.

In [28]:
def is_prime(n):
    """Checks if a number is prime (valid for numbers from 1 to 200)."""
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True
for num in range(1, 200):
    if is_prime(num):
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
terms.

In [39]:
class FibonacciIterator:

  def __init__(self, n_terms):
        self.n_terms = n_terms
        self.a, self.b = 0, 1
        self.count = 0

  def __iter__(self):
        return self

  def __next__(self):
        if self.count >= self.n_terms:
            raise StopIteration
        fib_num = self.a
        self.a, self.b = self.b, self.a + self.b
        self.count += 1
        return fib_num

fib = FibonacciIterator(10)
for num in fib:
    print(num, end=" ")

0 1 1 2 3 5 8 13 21 34

Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [40]:
def powers_of_two(max_exponent):
    """Yields powers of 2 up to 2^max_exponent."""
    for exp in range(max_exponent + 1):
        yield 2 ** exp

for power in powers_of_two(5):
    print(power, end=" ")

1 2 4 8 16 32

 Implement a generator function that reads a file line by line and yields each line as a string

In [ ]:
def read_file_line_by_line(file_path):
    """Generator that reads a file line by line and yields each line as a string."""
    with open(file_path, 'r', encoding='utf-8') as file:
        for line in file:
            yield line.strip()


file_path = "example.txt"
for line in read_file_line_by_line(file_path):
    print(line)

 Use a lambda function in Python to sort a list of tuples based on the second element of each tuple

In [52]:
# List of tuples
data = [(1, 5), (3, 2), (4, 8), (2, 1)]
# Sorting using lambda function
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[(2, 1), (3, 2), (1, 5), (4, 8)]

Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [53]:
# Function to convert Celsius to Fahrenheit
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

# List of temperatures in Celsius
celsius_temps = [0, 20, 30, 37, 100]

# Convert using map()
fahrenheit_temps = list(map(celsius_to_fahrenheit, celsius_temps))

# Output result
print(fahrenheit_temps)

[32.0, 68.0, 86.0, 98.6, 212.0]

Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [54]:
def remove_vowels(string):
    """Removes vowels from the given string using filter()."""
    vowels = "aeiouAEIOU"
    return "".join(filter(lambda char: char not in vowels, string))
text = "Hello, World!"
result = remove_vowels(text)
print(result)

Hll, Wrld!

11) Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €
Write a Python program using lambda and map.

In [57]:
# Given list of book orders (Order Number, Book Title, Quantity, Price per Item)
orders = [
    (34587, "Learning Python, Mark Lutz", 4, 40.95),
    (98762, "Programming Python, Mark Lutz", 5, 56.80),
    (77226, "Head First Python, Paul Barry", 3, 32.95),
    (88112, "Einführung in Python3, Bernd Klein", 3, 24.99),
]
# Using map and lambda to compute the required result
processed_orders = list(map(lambda order:
    (order[0], order[2] * order[3] + (10 if order[2] * order[3] < 100 else 0)), orders))
print(processed_orders)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]